  <!DOCTYPE html>
  <html lang="fi">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
      <title>TAK Ohjeet</title>
  </head>

  <body>
    <section class="section">
    <div class="container">

      <div class="box">
        <h1>TAK OHJEET</h1>
      </div>

      <div class="box">
        <h2>DOKUMENTIT</h2>
        <a class="btn" href="{{ instructions_pdf }}">Käyttöohjeet</a>
        <a class="btn" href="{{ taisteluajatus_pdf }}">Taisteluajatus</a>
      </div>

      <div class="box">
        <h2>VIESTIPERUSTEET</h2>
        <a class="btn" href="data:application/zip;name={{ client_name }}.zip;base64,{{ client_zip_b64 }}" target="_blank" download="{{ client_name }}.zip">Lataa ZIP-paketti</a>
      </div>

    </div>
  </div>
</body>
</html>
