<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>TAK Ohjeet</title>
</head>
<body>
  <h1>TAK Ohjeet</h1>
  <h2>Dokumentit</h2>
    <ul>
      <li><a href="{{ instructions_pdf }}">Käyttöohjeet</a></li>
      <li><a href="{{ taisteluajatus_pdf }}">Taisteluajatus</a></li>
    </ul>
  <h2>Viestiperusteet</h2>
    <table>
        <tr>
            <td>ZIP</td>
            <td>
                <a href="data:application/zip;name={{ client_name }}.zip;base64,{{ client_zip_b64 }}" target="_blank" download="{{ client_name }}.zip">{{ client_name }}.zip</a>
            </td>
        </tr>
    </table>
</body>
</html>
